h1 {
    color: red;

}

#p1 {
    color: brown;
}

#p2 {
    color: blue;
}

section{
    background-color: peachpuff;
    height: 250px;
    width: 600px;
    text-align: center;
    float: right;
    margin-top: 250px;
    margin-right: 500px;

}